* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
background-color: black;
}
.container{
width: 600px;
height: 550px;
background-color: white;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
align-content: center;
margin: 20px 26rem;
/* border: 10px solid; */
border-radius: 15px;
 box-shadow: 0 10px 35px rgba(0, 0, 1, 0.9);
  border: 2px solid gray   ;

}
.inputs{
    margin-left: 35px;
    margin-top: 40px;
}
::placeholder{
    font-size:medium;
}
input{
    padding: 20px;
    /* border-radius: 0.2px; */
    width: 32rem;
      
}
textarea{
    width: 510px;
    height: 200px;
    padding: 5px;

}
textarea::placeholder{
     font-size: 19px;
    
}
div p{
    color: green;
    margin-left: 11px;
    margin-top: 13px;
}
button{
    width: 90%;
    height: 10%;
    margin: auto;
    border-radius: 10px;
    background-color:deepskyblue ;
    cursor: pointer;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: red;
    box-shadow: 2px;
   
}
button b{
    color: white;
    font-size: medium;
}
input, textarea:focus {
    outline: transparent;
}