* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: rgba(27, 28, 27, 0.895);
}

header {
    background: #222;
    color: rgb(183, 207, 219);
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo {
    font-size: 1.5rem;
    margin-left: -50rem;
}

.logo span {
    color: #00bcd4;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
.logo-img img {
    width: 50px;
    /* height: 50px; */
    color: red;

}

.social-icons img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    opacity: 0.8;
    transition: opacity 0.3s;
}
.social-icons{
    margin-top: 20px;
}
.social-icons img:hover {
    opacity: 1;  /* Brightens icons on hover */
}
section{
    margin-top: 4rem;
    margin-left: 5rem;
}
.name h3{
    font-size: 1.9em;
}
.name h1{
    font-size: 2em;
}
.name{
    color: aliceblue;
} .name span{
    color: #00ff9d;
}
section p{
    color: #ccc;
    max-width: 500px;
    margin-top: 20px;
}
.image-container{
    position: relative;
}
.glow-circle{
    border-radius: 50%;
    padding: 5px;
    background: radial-gradient(circle, #00ff9d, #0a0a0a );
    display: inline-block;
   animation: glowMove 6s infinite linear;
}
.glow-circle img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5 px solid #0a0a0a;
    box-shadow: 0 0 15px rgba(0, 255, 157, 0.5);
    
}
@keyframes glowMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}